<div class="jumbotron center">
<img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/382748_10150939284245538_236987618_n.jpg?oh=79a7276ad54500ec41d5ceb568ae1cc7&oe=56243AF3" alt="Hello There" width="device-width" height="device-height">
<h3>Zachary B. Blass</h3>	
<h4>12 East 86th Street • New York, NY 10028 • 917.589.5070 • zachary.blass@gmail.com</h4>
<h5> University of Maryland, College Park, MD • Bachelor of Arts, English • Minor in Rhetoric • Anticipated May 2016</h5>                                              

<h4>Social Media Strategist: BrandShare</h4>
<h5>Novemeber 2014 - Present</h5>
<h6>• (Will)Continue to develop/finalize/finetune Social Sharing Program</h6>
<h6>• (Will)Develop Growth Hacking Tactics to encourage more traffic to our various subscription boxes/offers/domains</h6>
<h6>• (Will)Maintain/Supervise Simply Measured Data Sources/Collections. Collected data will convey the efficacy of our campaigns, reports will become a tool for renewals</h6>
<h6>• (WIll)Analyze survey and social data for relevant consumer and subscriber trends. Customer Profile/Analysis.</h6>
<h6>• (Will)Collaborate on Social Sharing Campaigns with AM/AE to create & execute Social Sharing Methodology as well as execute new and creative ideas for effective social campaigns that encourage further renewals</h6>
<h6>• (Will)Provide direction/copy for WMBOX sites</h6>	
<h6>• (Will)Manage Qr Generator, and corresponding analysis</h6>
<h6>• (Will)Navigate Google Analytics for any relevant website metrics</h6>
<h6>• (Will)Research innovative ways our Brands and Marketing Firms (respectively) markets to our common consumers, and evaluate how to incorporate as appropriate for BrandShare</h6>
<h6>• (Will)Delve into previous campaigns, and note effective tactics that trended in effective campaigns.</h6>
<h1> </h1>
<h1> </h1>
<h4>Junior Agent: Best Apartments NYC, New York, NY</h4>                          
<h5>June 2014 - August 2014</h5>
<h6>• Created online advertisements/listings for apartment rentals all throughout New Yorck City (i.e postles, zillow, nakedapartments, etc.)</h6>
<h6>• Showed prospective renters the apartments, acted as a guide as the apartments were toured.</h6>
<h6>• Worked/Communicated with clients and building managers to create an optimal renting experience for all parties involved.</h6>
<h6>• Photographed apartments for listings</h6>
<h1> </h1>
<h1> </h1>
<h4>VP of External Relations: Lambda Chi Alpha (Epsilon-Pi) Fraternity, UMD – College Park </h4>                                                         
<h5>September 2013 – December 2013</h5>
<h6>• Organized National Philanthropy, Watermelon Bust! In service to Feeding America</h6>
<h6>• Coordinated with other Greek and Non-Greek organizations to acquire participants for in-house events as well as co-sponsor the events of our student peers.</h6>
<h6>• Maintained budget.</h6>
<h6>• Held weekly committee meetings to delegate and complete operations.</h6> 
<h1> </h1>
<h1> </h1>
<h4>Media Buyer: BrandReach, New York, NY</h4>                                       
<h5>May 2013 - August 2013</h5>
<h6>• Optimized advertising campaigns to obtain maximum traffic/membership joins with minimum costs</h6>
<h6>• Conducted research analysis using excel, and Compete (CPA, eCPM, CPM, and more).</h6>
<h6>• Directed banner designers to meet marketing strategy.</h6>
<h6>• Managed auctions and recruited new clients</h6>
<h6>• Organized data in a logical and clearly communicated manner</h6>
<h6>• Presented weekly reports to evaluate ad-buys and their respective metrics.</h6>
<h1> </h1>
<h1> </h1>
<h4>Media & Marketing Strategist: EatDrinkJobs, New York, NY </h4>                  
<h5>May 2012 - July 2012</h5>
<h6>• Worked with Google Analytics to give insight into web traffic</h6>
<h6>• Assisted in managing the company’s Facebook, Twitter, and Blog</h6>
<h6>• Article I wrote on “Food Truck Craze” was retweeted by the NYC Food Truck Association.</h6>
<h6>• Strategically acquired traffic, likes, and followers.</h6>
<h6>• Start-up business experience, helped grow a young business.</h6>
<h1> </h1>
<h1> </h1>
<h4>Day Camp Counselor: Camp Yomi (92nd Street Y), Rockland County, NY </h4>
<h5>Summers 2009 - 2011</h5>
<h6>• Oversaw groups of 15-20 five and six year olds.</h6>
<h6>• Interacted/Collaborated with directors and staff, and parents to produce quality teamwork, open communication, and appropriate troubleshooting.</h6>
<h6>• Assisted in planned daily activities (i.e Swim, Basketball, Baseball).</h6>
<h6>• Improvised and created activities in Free-Time or in inclement weather to keep morale and entertainment up for the campers.</h6>
<h6>• Camp-Yomi Olympics General. (Only 4 counselors in unit are chosen).</h6>
<h1> </h1>
<h1> </h1>
<h4>**COMPUTER SKILLS**</h4>
<h6>• Proficient in Excel, PowerPoint, Word.</h6>
<h6>• Basic Understanding of Ruby</h6>
</div>