<div class="jumbotron center">
<img src="https://beautybox.walmart.com/public/img/layout/walmart-beauty-logo.png">
<h1>Hello There!</h1>
<h4>Welcome to the Walmart Beauty Boxer Board</h4>
<p>Click <%= link_to "here", "https://beautybox.walmart.com" %> to visit the Walmart Beauty Box!</p>

