<div class="jumbotron center">
<img src="https://beautybox.walmart.com/public/img/layout/walmart-beauty-logo.png">
<h2>Welcome to the #WalmartBeautyBoxer Board</h2>

<p>Click <%= link_to "here", "https://beautybox.walmart.com" %> to visit the Walmart Beauty Box Site!</p>

<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="feed-1-12ad368a-f780-44c6-82f3-e50ac5554324"></h1></ul>